<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
    <head>
        <title>{{ page_title }}</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="{{ page_description | escape }}">
        <link rel="canonical" href="{{ canonical_url }}">
        <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
        <title>
            {{ page_title }}
        </title>
        {% if page_description %}
            <meta name="description" content="{{ page_description | escape }}">
        {% endif %}

        {{ content_for_header }}
        <!-- Header hook for base styles -->
        {{ 'global.css' | asset_url | stylesheet_tag }}
        {{ 'global.js' | asset_url | script_tag }}
        <!-- Splitting styles -->
        {{ 'splitting.css' | asset_url | stylesheet_tag }}
    </head>
    <body>
        <main role="main">
            {{ content_for_layout }}
        </main>
    </body>
</html>
